name: Python Tests

on:
    push:
        branches: [main]
        paths:
          - 'src/**'
          - 'tests/**'

    pull_request:
        branches: [main, refactor, feature]

jobs:
 test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install numpy
            pip install pytest
            pip install -e .

      - name: Run tests
        run: pytest